@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: GentiumBookPlus;
    src: url(./assets/fonts/GentiumBookPlus-Bold.ttf);
}

.helloPage {
    height: 100vh - 24px;
    
}

.NavCategori li{
    visibility: hidden;
}

.AlpacaBG {
   
    height: 900px;
    max-width: 1440px;
}

.QWEXOXOL IMaskInput {
    background: #fff;
}

.MainRoutes:hover figcaption{
     color: #fff;
}